.center_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_body {
  width: 95%;
  /* height: 700px; */
  /* border: 1px solid red; */

  display: grid !important;
  grid-template-columns: repeat(1, auto) !important;
}
.table_row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.checkbox {
  /* margin-right: 35px; */
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
}
